.breadcrumb {
  background-color: var(--color-white);
  margin: var(--size-20);
  padding: var(--size-10) 0;

  @media (--tablet) {
    margin: var(--size-20) auto;
  }
}

.breadcrumb__items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.breadcrumb__item {
  align-items: center;
  display: flex;
  font-size: var(--size-14);
  line-height: 1;
}

.breadcrumb__separator {
  display: inline-block;
  margin-inline: var(--size-6);

  @media (--tablet) {
    margin-inline: var(--size-8);
  }
}
