.breadcrumb {
  background-color: var(--color-white);
  margin: var(--size-20);
  padding: var(--size-10) 0;

  @media (--tablet) {
    margin: var(--size-20) auto;
  }
}

.breadcrumb__items {
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.breadcrumb__item {
  align-items: center;
  display: flex;
  font-size: var(--size-15);
  line-height: 1;
  margin-inline-end: var(--size-10);

  span {
    margin-inline-start: var(--size-10);
  }

  .fa-chevron-right {
    display: inline-block;
    fill: var(--color-gray);
    font-size: var(--size-10);
    height: auto;
    width: var(--size-7);
  }
}
