@use '../../global/utils/init' as *;

.icon-card {
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-lightest);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 20rem;

  &:hover,
  &:focus {
    box-shadow: var(--shadow-thin);
  }
}

.icon-card__link {
  padding: 2rem 1rem;
  text-decoration: none;

  @media (--tablet) {
    padding: 3rem;
  }
}

.icon-card__icon {
  display: block;
  margin: 0 auto;
  width: 8rem;
}

.icon-card__text{
  text-align: center;
  text-transform: uppercase;
}
