.alert {
  align-items: center;
  background-image: linear-gradient(73deg, rebeccapurple 8.37%, #E1126E 88.5%);
  color: var(--color-white);
  display: grid;
  font-size: var(--size-14);
  gap: var(--size-20);
  grid-template-columns: var(--size-20) 1fr;
  padding: var(--size-12) var(--size-20);
  width: 100%;

  p {
    margin: 0;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  svg path {
    fill: var(--color-white);
  }
}

.alert__read-more {
  display: inline-flex;
  margin-inline-start: var(--size-2);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.alert__icon {
  align-items: center;
  display: flex;
  font-size: var(--size-24);
  justify-content: center;
  text-align: center;
}

/* Alerts teaser list. */
.alert--teaser {
  border-block-end: 1px solid var(--color-accent-four);
  margin-block-end: var(--size-20);
  padding-block-end: var(--size-20);
}
