.alert {
  align-items: center;
  color: var(--color-white);
  column-gap: 3rem;
  display: grid;
  grid-template-columns: 50px auto;
  margin: 0 auto 2rem;
  max-width: 1900px;
  padding: 1rem 2rem;
  width: 100%;

  .alert__read-more {
    &:hover {
      text-decoration: underline;
    }
  }

  @media (--tablet) {
    margin-bottom: 4rem;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  svg path {
    fill: var(--color-white);
  }

  .alert_icon {
    align-items: center;
    display: flex;
    height: 32px;
    width: 32px;

    svg {
      height: 32px;
      width: 32px;
    }
  }
}

/* Alerts teaser list. */
.alert--teaser {
  border-bottom: 1px solid var(--color-accent-four);
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  /* h2 {
    @include heading3;
  } */
}
