.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  @media (--tablet) {
    flex-direction: row;
  }
}

.logo__initials {
  color: var(--color-tertiary);
  font-family: var(--font-family-primary);
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: -5px;
  line-height: 1;

  @media (--tablet) {
    margin-right: 2rem;
  }
}

.logo__site-name {
  display: flex;
  flex-direction: column;

  > span {
    line-height: 1.6;
  }
}

.site-name__name,
.site-name__slogan {
  font-family: var(--font-family-secondary);
  font-style: italic;
}

.site-name__judge,
.site-name__clerk {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.site-name__judge {
  font-weight: 600;
}
