.breaker-with-nav {
  margin: 0 0 4rem;
  max-width: 1600px;
  position: relative;

  @media (--laptop) {
    margin: 0 auto 8rem;
  }

  /* If it's oral-histories page, remove the bottom margin. */
  .oral-histories-page & {
    margin-bottom: 0;

    @media (--laptop) {
      margin-bottom: 0;
    }
  }

  &::before {
    background-color: var(--color-primary);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--zi-lowest);
  }

  .title {
    color: var(--color-white);
    text-align: center;
  }

  .breaker-with-nav__content {
    color: var(--color-white);
    left: 5%;
    position: absolute;
    text-align: center;
    top: 20%;
    transform: translateY(-20%);
    width: 90%;
    z-index: var(--zi-low);

    @media (--tablet) {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .breaker-with-nav__body {
    font-family: var(--font-stack-secondary);
    font-size: 2.2rem;
    font-style: italic;
    margin-bottom: 3rem;
  }
}

/* Nav styles. */
.breaker-with-nav__nav {
  background-color: var(--color-primary);
  margin: 0 auto;
  max-width: 1600px;
  padding: 5px;
  position: relative;
  width: 100%;
  z-index: var(--zi-low);

  @media (--tablet) {
    height: 70px;
    margin-top: -70px;
    z-index: var(--zi-low);
  }
}

.breaker-with-nav__items {
  align-items: center;
  background-color: var(--color-primary);
  border: 1px solid var(--color-accent-two);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;

  @media (--tablet) {
    align-items: center;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
  }

  a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: var(--color-accent-two);
    }
  }
}
