/**
 *  Most styles were obtained from IBM's Carbon Design System.
 * https://react.carbondesignsystem.com/?path=/docs/components-button--overview
 * https://react.carbondesignsystem.com/?path=/story/components-button--default
 *
 */
.button {
  align-items: center;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  outline: none;
  padding: 0;
}

/* stylelint-disable selector-no-qualifying-type */
input[type='submit'],
.button:not(.button--link) {
  background-color: var(--color-primary-blue);
  border: solid 1px transparent;
  color: var(--color-white);
  display: inline-flex;
  font-size: var(--size-14);
  height: var(--size-48);
  justify-content: space-between;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: var(--size-16);
  text-align: center;
  text-decoration: none;
  transition: background-color 70ms cubic-bezier(0,0,0.38,0.9),box-shadow 70ms cubic-bezier(0,0,0.38,0.9), border-color 70ms cubic-bezier(0,0,0.38,0.9), outline 70ms cubic-bezier(0,0,0.38,0.9);
  white-space: nowrap;

  .layout__sidebar--second & {
    margin-bottom: var(--size-40);
  }

  &.button--light {
    background-color: var(--color-white);
    border-color: var(--color-primary-blue);
    color: var(--color-primary-blue);

    &:hover,
    &:focus {
      background-color: var(--color-accent-darker-blue);
      border-color: var(--color-accent-darker-blue);
      color: var(--color-white);
    }
  }
}

.button--link {
  color: var(--color-primary);
  text-decoration: none;
}

.button__icon {
  align-items: center;
  display: flex;
  margin-inline-start: var(--size-5);
}

.button:active {
  filter: saturate(150%);
  transform: translateY(1px);
}

.button:not(.button--link, .button--ghost):focus {
  border-color: var(--color-primary-blue);
  box-shadow: inset 0 0 0 1px var(--color-accent-darker-blue, var(--color-primary-blue, #0f62fe)),inset 0 0 0 2px var(--color-white, #fff)
}

.buton:hover {
  background-color: var(--color-accent-darker-blue);
}

.button:focus {
  box-shadow: 0 0 0 1px var(--color-white), 0 0 0 3px var(--color-accent-one);
  outline: solid transparent;
}

.js-focus-visible .button:focus:not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
