.al-label {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  &.label--gold {
    color: var(--color-accent-one);
  }

  &.label--gold-light {
    color: var(--color-accent-two);
  }

  &.label--large {
    font-size: 2rem;
  }
}
