.content-card {
  background-color: var(--color-white);
  border-radius: 0 0 var(--size-5) var(--size-5);
  border-top: var(--size-5) solid var(--color-accent-two);
  box-shadow: var(--shadow-basic);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--size-40) var(--size-20);

  > * + * {
    margin-block-start: var(--size-20);
  }

  .title {
    a:hover {
      text-decoration: underline;
    }
  }

  .al-label {
    text-align: center;
  }
}
